---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Hero
		title="About Me"
		subtitle="Who is SMLX Design and what do they do? Find out here!"
	/>
	<section class="px-side prose prose-neutral max-w-[80ch] py-12">
		<p>
			Heyyo! I am Samuel, a fifteen-year-old who loves to code in their
			free-time. I am currently studying and not available for hire. If you
			would like to reach out for any other reason, feel free to send an email.
		</p>
		<p>
			I am a self taught developer who has been coding for about half a year
			now. I primarily use React and Tailwind CSS for my projects. I also have
			basic knowledge of Node.js, Angular, Astro, as well as other trending web
			technologies. My favorite database is PostgreSQL.
		</p>
		<h2 class="text-2xl font-bold">My Skills</h2>
		<ul>
			<li><strong>React:</strong> UI library for building web apps</li>
			<li><strong>Typescript:</strong> Javascript with static typing</li>
			<li><strong>Tailwind:</strong> Utility-first CSS framework</li>
			<li><strong>Git:</strong> Version Control System</li>
			<li><strong>PostgreSQL:</strong> Relational database</li>
		</ul>
		<h2>Contact</h2>
		<p>
			I have profiles on multiple platforms, such as <a
				href="https://threads.net/@smlx.design">Threads</a
			>, <a href="https://mastodon.social/@smlxdesign">Mastodon</a>, and <a
				href="https://bsky.app/profile/smlxdesign.bsky.social">Bluesky</a
			>. I also have a <a href="https://github.com/smlxdesign">GitHub</a> profile
			where I host my projects. You can also reach out to me via email at{" "}
			<a href="mailto:smlxdesign@duck.com">smlxdesign@duck.com</a>.
		</p>
	</section>
</Layout>
