---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main class="px-side pt-32 pb-16 flex flex-col gap-8 bg-blue-50">
		<div class="flex flex-col gap-2 max-w-xl">
			<h1 class="text-3xl font-bold">Be apart of the coming web revolution</h1>
			<p class="text-lg leading-7">
				Websites are just getting better and better. You do not want your site
				to be left out to rot and die, do you?
			</p>
		</div>
		<div class="flex flex-row gap-4">
			<a class="button primary" href="/blog">Read my blog</a>
			<a class="button" href="/contact">Contact</a>
		</div>
	</main>
</Layout>
