<header
	class="px-side items-top fixed flex w-full flex-row justify-between bg-blue-50/50 py-6 backdrop-blur-lg dark:bg-blue-950/50"
>
	<a class="text-lg font-bold text-blue-700 dark:text-blue-500" href="/"
		>SMLX Design</a
	>
	<nav class="flex flex-col items-end gap-4">
		<button class="md:hidden">
			<i
				class="ph ph-list ph-bold cursor-pointer text-2xl hover:text-blue-700 dark:hover:text-blue-500"
			></i>
			<i
				class="ph ph-x ph-bold hidden cursor-pointer text-2xl hover:text-blue-700 dark:hover:text-blue-500"
			></i>
		</button>
		<ul class="hidden flex-col h-lvh gap-8 md:flex md:flex-row">
			<li>
				<a
					class="p-4 text-xl hover:border-b-2 hover:text-blue-700 md:p-2 md:text-lg dark:hover:text-blue-500"
					href="/">Home</a
				>
			</li>
			<li>
				<a
					class="p-4 text-xl hover:border-b-2 hover:text-blue-700 md:p-2 md:text-lg dark:hover:text-blue-500"
					href="/blog">Blog</a
				>
			</li>
			<li>
				<a
					class="p-4 text-xl hover:border-b-2 hover:text-blue-700 md:p-2 md:text-lg dark:hover:text-blue-500"
					href="/about">About</a
				>
			</li>
		</ul>
	</nav>
</header>

<script>
	const button = document.querySelector("nav button");
	const menuIcon = document.querySelector("nav button .ph-list");
	const closeIcon = document.querySelector("nav button .ph-x");
	const nav = document.querySelector("nav ul");

	button?.addEventListener("click", () => {
		menuIcon?.classList.toggle("hidden");
		closeIcon?.classList.toggle("hidden");
		nav?.classList.toggle("hidden");
		nav?.classList.toggle("flex");
	});
</script>
