<header
	class="w-full fixed py-6 px-side flex flex-row justify-between items-center"
>
	<a class="font-bold text-lg text-blue-700" href="/">SMLX Design</a>
	<nav>
		<ul class="flex flex-row gap-8">
			<li>
				<a class="hover:text-blue-700 hover:border-b-2" href="/">Home</a>
			</li>
			<li>
				<a class="hover:text-blue-700 hover:border-b-2" href="/blog">Blog</a>
			</li>
			<li>
				<a class="hover:text-blue-700 hover:border-b-2" href="/about">About</a>
			</li>
		</ul>
	</nav>
</header>
