---
const { title, subtitle, homepage } = Astro.props;
---

<main
	class="px-side flex flex-col gap-8 bg-blue-50 pt-32 pb-16 dark:bg-blue-950"
>
	<div class="flex max-w-xl flex-col gap-2">
		<h1 class="text-3xl font-bold">{title}</h1>
		<p class="text-lg leading-7">
			{subtitle}
		</p>
	</div>
	{
		homepage && (
			<div class="flex flex-row gap-4">
				<a class="button primary" href="/blog">
					Read my blog
				</a>
				<a class="button" href="/contact">
					Contact
				</a>
			</div>
		)
	}
</main>
