---
import "@fontsource-variable/dm-sans";
import "../styles/global.css";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>SMLX Design</title>
		<meta name="description" content="Welcome to the better side of the web." />
		<script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>
		<script
			data-goatcounter="https://smlxdesign.goatcounter.com/count"
			async
			src="https://gc.zgo.at/count.js"></script>
	</head>
	<body
		class="flex w-full flex-col bg-white text-neutral-800 dark:bg-neutral-950 dark:text-neutral-200"
	>
		<Header />
		<slot />
	</body>
</html>
